%section.places
  %ul.tabs
    %li.active
      %a{:href => '#us'} About Us
    %li
      %a{:href => '#venue'} Venue
    %li 
      %a{:href => '#guest_information'} Guest Information
    %li 
      %a{:href => '#events'} Events
    %li 
      %a{:href => '#rsvp'} RSVP
    %li 
      %a{:href => '#registry'} Registry
      
  %ul.content
    %li#us.active
      %ul.images
        %li#tree.active
          = image_tag "tree.jpg"
          = image_tag "gaze.jpg"
          = image_tag "kiss.jpg"
      %p
        This is the story of Ally and Dan, two attractive young nerds whose innocuous meeting on an internet dating site three years ago spawned true love and epic friendship. Their shared journey through life will lead them down the aisle this fall in Ally's hometown of Denver, Colorado. 
      %p
        Their marriage will be a continuation of the happiness that all began when they stumbled onto each other's online profiles. Dan could not resist Ally after seeing the picture she had posted of herself dressed up as a crayon, and Dan, seen wake boarding, seemed too promising to overlook. They met for dinner and a movie. It was January 2009.
      %p
        "He was extremely good-looking," Ally said. "She had a great sense of humor," said Dan. "We just got along really well. I told her the rule that if you had a date with somebody you really liked you had to wait three days to call them or else they would think you liked them too much." Exactly three days passed. Dan called.
      %p
        "We just started making plans every weekend," he said. "I started really looking forward to it. At the time, Dan, a native of Belleville, Michigan, was an electrical engineer living in Santa Clara, California -- an hour away from Ally. Ally was a grad student studying neuroscience in Berkeley. 
      %p
        Dates turned into trips together to far away locales. Dinners out turned into breakfasts at home.  They were by each other's sides when Dan switched jobs and became a web developer and Ally toiled away on her dissertation.
      %p
        Dan spontaneously asked Ally to come away with him to Lake Tahoe for Labor Day weekend in 2011, stirring her suspicions that he might propose. Once he had spirited her away, the two hiked to a secluded waterfall where he popped the question -- and the champagne he had clandestinely packed. Ally estimates she did not hesitate a second before saying yes.
      %p
        Their wedding --- and their life together -- will be just as special. "We're looking forward to new adventures and making a new life together," Ally said.

      %p
        Story by Sadie Gurman - Photos by Jen Sloan and Yatish Patel
        
        
    -# %ul.thumbs
    -#   %li.active
    -#     %a{:href => '#tree'}= image_tag "tree_thumb.jpg"

    %li#venue
      = image_tag 'grant-humphreys.jpeg'
      %p
        The ceremony and reception will take place at the <strong>Grant-Humphreys Mansion</strong>.  The ceremony will begin at 5:30 pm on the lawn. After cocktails on the patio, we will move inside for dinner and dancing. 
      %p 
        The mansion is located at
        %a.address{:target => 'blank', :href => "http://maps.google.com/maps/place?q=Grant-Humphreys+Mansion,+Denver,+CO&hl=en&cid=7104521271565627461"}
          770 Pennsylvania St, Denver, Colorado.
      %p
        Limited parking is available at the mansion. There are approximately 55 spaces of free off-street parking available. Overflow parking will be available in a lot at Pearl & 8th Avenue.
      %p
        Emily Cooper, a close friend of the couple, will be officiating.

    %li#guest_information
      %h2 Transportation to and from airport
      %p
        The airport is about 40 minutes (25 miles) from the wedding hotels and venue. 
        There isn't a good public transportation option, so we recommend that you take a cab ($55) or shuttle ($22 per person). 
        You could also rent a car but you may not need the car much once you get to downtown Denver as the hotel is walking distance to the wedding venue, and near several restaurants and bars. 
      %p
        Detailed information can be found at 
        %a{:href => "http://www.flydenver.com/parkinggt"}
          http://www.flydenver.com/parkinggt.

      %h2 Accommodations
      = image_tag 'burnsley.jpg'
      %p
        %a{:href => "http://www.burnsley.com"}
          The Burnsley Hotel
        %br 
        1000 Grant Street 
        %br
        Denver, CO 80203
        %br 
        (303) 830-1000
      %p
        The Burnsley Hotel is a short walk away from the Grant-Humphreys Mansion. The hotel is a converted apartment building, so most of the rooms have one king-sized bed. They do have several rooms available with two queen-sized beds, but they book up quickly, so reserve early if you’d prefer this option.  We will host a brunch at the Burnsley on Sunday morning.
      %p
        Be sure to mention the Mackey-Luchi wedding to receive the discounted group rate if you call.
      %p
        Or go to
        %a{:href => "http://www.burnsley.com"} www.burnsley.com
        %br 
        Click the “reserve now” button on the left hand side.
        %br 
        Click “Step One” at the top of the page.
        %br 
        Choose the appropriate group dates.
        %br 
        Click the “additional options” button.
        %br 
        Keep “bed type” as “all” in order to see all rooms available at the group rate.
        %br 
        Enter the “group code” MLWEDD.

      %p
        %a{:href => "http://www.hotels.com/hotel/details.html?pa=1&pn=1&ps=1&tab=description&destinationId=1642814&hotelId=115547&rooms[0].numberOfAdults=2&roomno=1&validate=false&previousDateful=false&reviewOrder=date_newest_first"}
          Sheraton Downtown Denver Hotel
        %br 
        1550 Court Place 
        %br
        Denver, CO 80202
        %br 
        (303) 893-3333
      %p
        The Sheraton is a bit further from the Grant-Humphreys Mansion than the Burnsley Hotel, but it is a good option for guests who would prefer to stay closer to downtown.  The rate at both hotels is $120 a night.
        


    %li#events
      %h2 Friday
      %p
        If you're in town for dinner on Friday night, we recommend 
        %a{:href => "http://www.lalaswinebar.com"} Lala's Wine Bar
        or 
        %a{:href => "http://www.bennysrestaurant.com"} Benny's Restaurant and Tequila Bar.
        %a{:href => "http://www.lucadenver.com"} Luca D'Italia
        and
        %a{:href => "http://www.mizunadenver.com"} Mizuna
        are nice upscale options.
      %p
        We'll meet our guests at 
        %a{:href => "http://www.govnrspark.com"} Govnr's Park
        (672 Logan Street) for drinks around 8 pm. 

      %h2 Saturday
      %p
        If you're hungry for brunch, check out 
        %a{:href => "http://www.racinesrestaurant.com"} Racine's,
        -# (650 Sherman),
        %a{:href => "http://www.eatmorejelly.com"} Jelly,
        -# (600 E 13th), 
        or
        %a{:href => "http://www.wafflebrothers.com"} Waffle Brothers
        -# 393 Corona St
      %p
        The ceremony will begin at 5:30 pm.

      %h2 Sunday
      %p
        All guests are invited to join us for brunch at the Burnsley Hotel in the Director's Room from 10 am to noon.

      %h2 Activities
      %p
        The Denver city website has a great list of things to do on Saturday:
        %a{:href => "http://www.denver.org/what-to-do/must-see-denver"} http://www.denver.org/what-to-do/must-see-denver

    %li#rsvp
      %p
        Please let us know if you can join us as soon as possible! We’d love to hear from you by August 8th. You can 
        %a{:href => 'mailto:allymackey@gmail.com'} e-mail 
        us or call us at (510) 610-4646.
    %li#registry
      %a{:href => "http://www.honeyfund.com/wedding/danandally"}
        =image_tag 'honeyfund_sa.jpg'
      %p  
      %a{:href => "http://www.idofoundation.org/63191"}
        =image_tag 'firstbook_macys.png'