%section.places
  %ul.tabs
    %li.active
      %a{:href => '#us'} About Us
    %li
      %a{:href => '#venue'} Venue
    %li 
      %a{:href => '#guest_information'} Guest Information
    %li 
      %a{:href => '#rsvp'} RSVP
    %li 
      %a{:href => '#registry'} Registry
      
  %ul.content
    %li#us.active
      %ul.images
        %li#tree.active
          = image_tag "tree.jpg"

        %li#kristina
          = image_tag "kristina.jpg"

        %li#kathryn
          = image_tag 'kathryn.jpg'

        %li#christine
          = image_tag 'christine.jpg'

        %li#amanda
          = image_tag "amanda.jpg"

        %li#jeff
          = image_tag "bro.jpg"

        %li#reed
          = image_tag "reed.jpg"

        %li#drew
          = image_tag "drew.jpg"

        %li#justin
          = image_tag "justin.jpg"

        %li#steve
          = image_tag "steve.jpg"

    %ul.thumbs
      %li.active
        %a{:href => '#tree'}= image_tag "tree_thumb.jpg"
      %li
        %a{:href => '#christine'}= image_tag 'christine.jpg'
      %li
        %a{:href => '#kathryn'}= image_tag 'kathryn.jpg'
      %li
        %a{:href => '#kristina'}= image_tag 'kristina.jpg'
      %li.last
        %a{:href => '#amanda'}= image_tag "amanda.jpg"

      %li
        %a{:href => '#jeff'}= image_tag "bro.jpg"
      %li
        %a{:href => '#steve'}= image_tag "steve.jpg"
      %li
        %a{:href => '#drew'}= image_tag "drew.jpg"
      %li
        %a{:href => '#reed'}= image_tag "reed.jpg"
      %li.last
        %a{:href => '#justin'}= image_tag "justin.jpg"

    %li#venue
      = image_tag 'grant-humphreys.jpeg'
      %p
        The ceremony and reception will take place at the <strong>Grant-Humphreys Mansion</strong>.  The ceremony will begin at 5:30 pm on the lawn. After cocktails on the patio, we will move inside for dinner and dancing. 
      %p 
        The mansion is located at
        %a.address{:target => 'blank', :href => "http://maps.google.com/maps/place?q=Grant-Humphreys+Mansion,+Denver,+CO&hl=en&cid=7104521271565627461"}
          770 Pennsylvania St, Denver, Colorado.
      %p
        Limited parking is available at the mansion. There are approximately 55 spaces of free off-street parking available. Overflow parking will be available in a lot at Pearl & 8th Avenue.
      %p
        Emily Cooper, a close friend of the couple, will be officiating.

    %li#guest_information
      = image_tag 'burnsley.jpg'
      %h2 Accommodations
      %p
        %a{:href => "http://www.burnsley.com"}
          The Burnsley Hotel
        %br 
        1000 Grant Street 
        %br
        Denver, CO 80203
        %br 
        (303) 830-1000
      %p
        The Burnsley Hotel is a short walk away from the Grant-Humphreys Mansion. The hotel is a converted apartment building, so most of the rooms have one king-sized bed. They do have several rooms available with two queen-sized beds, but they book up quickly, so reserve early if you’d prefer this option.        

      %p
        %a{:href => "http://www.hotels.com/hotel/details.html?pa=1&pn=1&ps=1&tab=description&destinationId=1642814&hotelId=115547&rooms[0].numberOfAdults=2&roomno=1&validate=false&previousDateful=false&reviewOrder=date_newest_first"}
          Sheraton Downtown Denver Hotel
        %br 
        1550 Court Place 
        %br
        Denver, CO 80202
        %br 
        (303) 893-3333
      %p
        The Sheraton is a bit further from the Grant-Humphreys Mansion than the Burnsley Hotel, but it is a good option for guests who would prefer to stay closer to downtown.  The rate at both hotels is $120 a night.
        
    %li#rsvp
      %p
        Please let us know if you can join us as soon as possible! We’d love to hear from you by August 8th. You can 
        %a{:href => 'mailto:allymackey.gmail.com'} e-mail 
        us or call us at (510) 610-4646.         
    %li#registry
      = image_tag 'Honeyfund.jpeg'
      = image_tag 'apple.png'
